* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  font-family: 'segoe ui';
}

.navbar {
  height: 50px;
  width: 100%;
  background-color: #fff;
  position: relative;
 
}


header {
display: flex;
justify-content: end;
align-items: center;
}

.logo {
width:100px ;
height:100px ;
}

.bars {
  width: 100px;
  height: 100px;
  padding-right: 2rem;
}
.navbar> .navbar_liste {
  display: inline;
  
}
li{
  padding-right: 12rem;
}

.navbar > .navbar_liste > .navbar_item{
  display: inline-block;
  font-size: 22px;
  color: #fff;
}

.navbar > .navbar_links {
  display: inline;
  float: right;
  font-size: 18px;
}

.navbar > .navbar_links > a {
  display: inline-block;
  padding: 13px 10px 13px 10px;
  text-decoration: none;
  color: #efefef;
}

.navbar > .navbar_inks > a:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.navbar > #navbar_check {
  display: none;
}

@media (max-width:600px) {
  
  .nav > .nav-links {
    position: absolute;
    display: block;
    width: 100%;
    background-color: #333;
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 50px;
    left: 0px;
  }
  .nav > .nav-links > a {
    display: block;
    width: 100%;
  }
  
}

.logoDJ {
  width: 50px;
  height: 50px;
}

