@import "../../App.css";

/* ---- First Mobile ---*/
footer {
  display: flex;
  justify-content: space-around;
  margin-top: auto;
  padding: 2rem 0;
}

.audio-control {
  display: flex;
  align-items: center;
}

.audio-control > div {
  margin-right: 1rem;
}

/* ----- Tablette---- */

/*---- PC----*/
